<h1>The Rise of the [$NSDAP/AfD]</h1>
<h2>A [historical/fictitious] [re/out$]view</h2>
<p></p>
<p>
	The [NSDAP/AfD] developed between [1920/2013] and [1933/2028] from a small splinter party into
	one of the most powerful political movements in Germany. Its rise was closely tied to the
	political and economic crises of the [Weimar/Federal R$]epublic.
</p>

<h3>The Beginnings</h3>
<p>
	A central strategy of the [NSDAP/AfD] was the massive use of propaganda in its own media and at
	public appearances. It continuously repeated [antisemitic/racist] falsehoods and conspiracy
	narratives, spread fear and hatred [in the streets/on the internet], and radicalized its
	followers until these narratives had arrived in the mainstream of society and were adopted by
	established media and politicians. With this successful propaganda strategy, it managed to
	mobilize broad segments of the population.
</p>
<p>
	The major parties of the [Weimar/Federal R$]epublic – the [Social Democratic/Social Democratic]
	[Party/Party] [of Germany/of Germany] [(SPD)/(SPD)], the [German/Christian] [Center
	Party/Democratic Union (CDU)] and the [Bavarian People’s Party (BVP)/Christian Social Union
	(CSU)] – tried to stabilize democracy, but in the face of inflation, unemployment, and political
	radicalization, they often could not muster sufficient resistance. Added to this were conflicting
	strategies in dealing with the [NSDAP/AfD]: Conservatives did not see the spread of right-wing
	extremist positions in parts of the population as a result of [NSDAP/AfD] propaganda, but rather
	as an expression of public opinion. They therefore followed the shift to the right, which led to
	a further political polarization of the political center.
</p>
<p>
	The bourgeois-liberal [DVP/FDP], which had been an important political force in the
	[Weimar/Federal R$]epublic, increasingly pursued an economically liberal course and began
	drifting to the right as of [1929/2024]. As a result, it lost more and more support until it
	finally became insignificant.
</p>
<p>
	The parties to the left of the [SPD/SPD] gained influence during this time and called for a
	change of system, but did little or nothing to win over voters from other groups. On the
	contrary, the lower-middle class was alienated. Thus, the [NSDAP/AfD] found its greatest
	political opponent in the leftist parties and denounced them and their supporters as
	“[Bolshevik/left-green scum].”
</p>

<h3>Early Years and Political Radicalization</h3>
<p>
	The [Spanish Flu/Covid Pandemic] from [1918/2020] to [1920/2022], inflation and the increasing
	economic problems from [1923/2020], as well as rising unemployment, worsened the economic
	situation for many Germans. In [1928/2023], farmers all over Germany took to the streets to
	protest against the policies coming from Berlin. Serious failures in reforming the administration
	of the [Weimar/Federal R$]epublic and the lack of compromise among the established parties led to
	a broad loss of public trust in the political system. The [NSDAP/AfD] cleverly exploited the
	uncertainties and fears, staging itself with its “[national/future] [re-emergence/for Germany].”
	Its promise to end political chaos and make Germany strong again struck a chord with many.
</p>

<h3>Election Successes of the [$NSDAP/AfD]</h3>
<p>
	In the [Reich/Bunde$]stag elections of [1928/2021], the [SPD/SPD] became the strongest
	parliamentary group in the [Reich/Bunde$]stag. However, due to difficult majority conditions,
	forming a government dragged on for many weeks. Under [Reich/Bunde$]s Chancellor [Hermann
	Müller/Olaf Scholz], a coalition of several parties was finally formed. This new cabinet faced a
	serious crisis from the outset. The reason was the contentious political disputes among the
	coalition partners themselves. In particular, the parties’ positions on budgetary and social
	policy were widely divergent. This ultimately led to the coalition’s collapse in [1930/2024].
</p>
<p>
	While the [SPD/SPD]-led government was preoccupied with internal coalition problems, the party
	landscape underwent further radicalization. Thus, the [KPD/Left] split, forming [the/that]
	[Leninbund/BSW], which after brief successes fell apart again.
</p>
<p>
	At the same time, conservative parties adopted positions of the [NSDAP/AfD]. For instance, [the
	Center/the CDU$] shifted ever further to the right: in [1928/2022], [Ludwig Kaas/Friedrich Merz]
	prevailed in the party leadership election against two moderate opposing candidates. It quickly
	became clear that [Kaas/Merz] saw the bigger political enemy in the leftist parties rather than
	in the [NSDAP/AfD]. Time and again, he attacked the parties to the left of [the Center/the CDU]
	and moved his own party further to the right with populist statements. By [1931/2025] at the
	latest, [Kaas/Merz] showed that, for reasons of pragmatism, he would also consider a
	rapprochement with the [NSDAP/AfD].
</p>
<p>
	The snap elections for the [Reich/Bunde$]stag in [September/February] [1930/2025] played right
	into the hands of the [NSDAP/AfD]. The poor performance of the previous government and the many
	disputes among the democratic parties drove voters into the arms of the [NSDAP/AfD]. It achieved
	a massive electoral success—one in five voters cast their ballot for it—and it became the
	second-strongest force.
</p>
<p>
	[The Center/the CDU] and [BVP/CSU] were dependent on the support of the [SPD/SPD] in forming a
	government. This turned out to be very difficult because the economic policy ideas of the
	[SPD/SPD] and the bourgeois parties differed greatly. Moreover, the shift to the right by [the
	Center/the CDU] and [BVP/CSU] and their verbal attacks on the [SPD/SPD] had severely damaged
	trust in the [SPD/SPD]. After [Brüning/Merz] held extensive talks with the [SPD/SPD] and
	threatened that if the government failed and new elections were held, it would be even more
	disastrous for democracy in Germany, the Social Democrats felt compelled to tolerate a government
	under [Reich/Bunde$]s Chancellor [Brüning/Merz].
</p>
<p>
	With [the/the] [emergency decree/immediate program] [“Securing/“Priority] [of/for]
	[Economy/Competitiveness] and [Finances”/Prosperity”] introduced by [the Center/the CDU],
	[Brüning/Merz] tried to stabilize the economy, but was unsuccessful. Instead, [Brüning/Merz]
	intensified the political crisis by cutting state social benefits and weakening parliamentary
	standards.
</p>
<p>
	At the same time, the [NSDAP/AfD] continued to expand its position: even better-off voters
	increasingly turned away from [the Center/the CDU] and [BVP/CSU] and turned to the [NSDAP/AfD]
	because they saw it as an “alternative.”
</p>

<h3>Transfer of Power to the [NSDAP/AfD] in [1933/2028]</h3>
<p>
	As early as [1932/2027], the government under [Reich/Bundes$] Chancellor [Brüning/Merz]
	collapsed.
</p>
<p>
	In the ensuing elections, the [NSDAP/AfD] became the strongest party with 37.3 percent and
	immediately began coalition talks with [the/the] [Center/CDU]. [The/The] [Center/CDU] was indeed
	interested in forming a governing alliance with the [NSDAP/AfD]. On the [NSDAP/AfD] side,
	however, these were only sham negotiations, intended to demonstrate that even with the new
	parliament, no stable government could be formed. Thus, new elections again became necessary.
</p>
<p>
	In the meantime, there were repeated outbreaks of violence in the streets. Most of the violence
	now came from supporters of the [NSDAP/AfD].
</p>
<p>
	In the new elections in November [1932/2027], the [NSDAP/AfD] lost four percentage points. This
	temporarily ruled out a parliamentary majority with the [NSDAP/AfD]. The newspaper “Vorwärts”
	even ran the headline “Downward with H[$itler/öcke].” Other bourgeois media also believed that
	the seemingly unstoppable rise of the fascists had been halted. In fact, the [NSDAP/AfD]
	leadership was in crisis and embroiled in internal power struggles. At the same time, there were
	the first signs of economic recovery and thus the hope for a political de-radicalization.
</p>
<p>
	[The/The] [Center/CDU] counted on winning over the moderate wing of the [NSDAP/AfD] for
	participation in government and thus splitting the [NSDAP/AfD]. The unions, too, were believed to
	be on board. The aim was to form a government spanning all camps, ideally with a parliamentary
	majority. However, the cross-front concept failed because the unions hesitated and
	[Strasser/Weidel] was ousted by H[$itler/öcke]. Now that party leadership showed discord and
	weakness, H[$itler/öcke] was able to bypass it and pursue the chancellorship with the support of
	his followers.
</p>
<p>
	[From the Center/From the CDU] came the proposal to accept the “will of the voters” and agree to
	the appointment of H[$itler/öcke] as [Reich/Bundes$] Chancellor in order to prevent a further
	worsening of the crisis. The conservatives believed they could control H[$itler/öcke], which
	would later turn out to be a fatal error. With the support of the conservatives, H[$itler/öcke]
	was appointed [Reich/Bunde$]s Chancellor on January 30, [1933/2028].
</p>
<p>
	In February [1933/2028], the Reichstag building was the target of an arson attack. Most
	conservatives and the media placed the blame on the political left. The [NSDAP/AfD] used this
	situation to persecute its political opponents with the help of its followers. Left-wing
	[Reich/Bunde$]stag deputies had to flee or were arrested. In the [Reich/Bunde$]stag session of
	March 24, [1933/2028], with the votes of [the Center/CDU], [BVP/CSU], and [DVP/FDP], power was
	handed over to the [NSDAP/AfD], and democracy was effectively abolished, despite the warnings of
	the [SPD/SPD].
</p>
<p>
	In the summer of [1934/2029], H[$itler/öcke] had his last political opponents, including [Ernst
	Röhm/Alice Weidel] and other leading [NSDAP/AfD] members, eliminated in a “wave of purges.”
	Reasons given included [his/her] homosexuality and an alleged attempt at a “treacherous putsch.”
</p>
<p>In [1941/2030], the systematic [Deportation/Remigration] of millions of people began.</p>
<p>One of the darkest eras in German history had begun.</p>
<p>[/All over again.]</p>
<p>
	<quote style="font-style: italic; padding: 10rem 1em 0em; color: #777; display: block">
		“There are recurring cycles, highs and lows, but the course of events remains essentially the
		same, with minor deviations.<br />
		People have said that history repeats itself. That may not be entirely accurate; it merely
		rhymes.”
	</quote>
</p>
<p style="text-align: right; font-style: italic; color: #777">Theodor Reik</p>
